* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'glacial';
    src: url(../fonts/GlacialIndifference-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacial-bold';
    src: url(../fonts/GlacialIndifference-Bold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'glacial';
    font-size: 1em;
    color: white;
}

ul {
    list-style: none;
}

.cemporcento {
    width: 100%;
    display: flex;
}

.cor1 {
    background: #752fce;
}

.cor2 {
    background: #8a4bdb;
}

.cor3 {
    background: #f34926;
}

.cor4 {
    background: lightcoral;
}

.cor-btn {
    background: #f34926;
    color: white;
    border-color: transparent;
    letter-spacing: 0.095em;
}


/* ---------- cabecalho ---------*/

.topo {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cabecalho {
    padding: 1.25rem;
}

.cabecalho a {
    color: white;
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: .125rem;
}

.cabecalho a:hover {
    color: #f34926;
}

/* ----------- principal ---------*/
.entrar {
    max-width: 21.875rem;
    margin-left: auto;
}

.user {
    border-radius: 1.5625rem;
}

.user2 {
    border-radius: 1.5625rem;
}

.user-conversor{
    width: 40%;
    font-size: 1.5rem;
    letter-spacing: .2rem;
}

.espaco {
    margin-top: .625rem;
    margin-bottom: 3.75rem;
}

.espaco2{
    margin-top: 3.125rem;
    margin-bottom: 3.125rem;
}
.espaco3{
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
}

#logo {
    padding: 1.25rem;
    display: flex;
    justify-content: center;
}

.logo {
    display: flex;
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;
}

.logo-img {
    display: block;
    width: 12.5rem;
    margin-left: auto;
    margin-right: auto;
}

#title h1 {
    margin: 0;
    padding: 0;
}

#title {
    padding: 0.625rem;
    font-size: 2rem;
    margin-top: 1.5625rem;
    letter-spacing: .1562rem;
}

.crypto {
    font-weight: lighter;
    line-height: .9375rem;
}

.title {
    color: #f34926;
    font-weight: bolder;
    font-size: 4.6875rem;
}

#news {
    max-width: 21.875rem;
    margin-left: auto;
    margin-right: auto;
}

#form-news {
    gap: .3125rem;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.title-line {
    line-height: 2.1875rem;
}

.title2 {
    color: #f34926;
    font-weight: 900;
    font-size: 3.4375rem;
}

input {
    text-transform: uppercase;
    margin-top: .3125rem;
    padding: 0.625em;
    border: none;
    border-radius: 1.25rem;
    font-size: 1.25rem;
}

.user:hover {
    transition: .4s ease-in-out;
    transform: scale(1.05);
    color: #752fce;
}

.converta{
    text-transform: uppercase;
    letter-spacing: .1875rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    border-radius: 2.1875rem;
    display: block;
    max-width: 18.75rem;
    margin-left: auto;
    margin-right: auto;
}
.nossos-servicos, .em-alta{
    text-align: center;
    padding: 1rem;
    letter-spacing: .1875rem;
    font-size: 3.125rem;
    text-transform: capitalize;
    font-weight: lighter;
    margin-bottom: 1rem;
}
.cartoes{
    padding: .9375rem;

}
.cartoes:hover{
    transition: .4s ease-in-out;
    transform: scale(1.05);
    transition: .3s;
    cursor: pointer;
}
.card-custom{
    border-radius: .5625rem;
}
.card-title-custom {
    text-transform: uppercase;
    color: #752fce;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: .5625rem;
}

.card-text-custom{
    color: #752fce;
    text-align: justify;
    font-size: 0.7em;
}
.grafico{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.9375rem;
    width: 21.875rem;
}
.grafico:hover{
    transition: .5s;
    transform: scale(1.5);
}
.form-custom {
    max-width: 45rem;
}

.local{
    display: flex;
    justify-content: center;
}

.local iframe{
    margin-top: 2.1875rem;
    border-radius: .5625rem;
}

.img-services{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625rem;
}

/* -------- Area conversor --------*/

.card2{
    border: 2px solid #752fce;
    border-radius: 10px;
    height: auto;
    text-align: center;
    display: block;
    padding: 50px 0;
    align-content: center;
}
.p-2{
    background-color: #e9ddd7;
}
#converterCarteira{
    margin: auto;
}
.box {
    flex: 1;
    border: 2px solid #762fcf;
    margin:10px;
    width: 50%;
    height: 300px;
    display: block;
}
#criptoMoeda{
    border-radius: 10px;
    background-color: white;
    position: relative;
}

#convert1,
#selectMoeda2,
#moedaCripto {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#selectCripto1{
    width: 70%;
}

#botaoConversao{
    margin: auto;
    position: absolute;
    left: 150px;
    background-color: #762fcf;
    color: white;
}

#numberCripto1,
#moedscrs {
    width: 30%;
}

#convert2,
#converse2 {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#selectMoeda1,
#selectCripto2 {
    width: 100%;
}

#numberMoeda1{
    position: relative;
    left: 5px;
    width: 100px;
}

#converse1{
    position: relative;
    left: 70px;
    display: flex;
}

#cripsmoeds{
    position: relative;
    left: 5px;
    width: 100px;
}
.icon-invert{
    width: 5%;
    font-size: 2.2rem;
    margin-top: auto;
    margin-bottom: auto;
}

/* ----------- Log In ----------------- */

.login {
    width: 30%;
}

.btn-login{
    width: 90%;
}

.form-login{
    min-width: 20rem;
}



/* ---------footer---------- */

footer {
    height: 6.25rem;
    align-items: center;
}

.rodape {
    margin-left: auto;
    margin-right: auto;
}

/*.m-s{
    display: flex;
    position: relative;
    top: 20%;
    justify-content: center;
}*/
.m-s a {
    display: inline-flex;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #f44926;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    border-radius: 50%;
    margin-left:0.625rem;
    margin-right:0.625rem;
}

.m-s a:hover {
    transition: .4s;
    transform: scale(1.25);
}


.teste {
    border: 1px solid red;
}

th, tr, tr {
    padding: 15px;
    vertical-align: top;
    
}

.titulo-tabela {
    padding: 15px;
    font-size: 20px;
    font-weight: bold;

}

.imagem-servico {
    width: 33%
}



/*Formatação Cadastro Conta*/

.criar-conta {
    width: 100%;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    vertical-align: top;
}

h1{
    text-align: center;
}

form{
    text-align: center;
}

label{
    display: inline-block;
    text-align: center;
}

div{
    display: block;
    font-size: larger;
}
