@font-face {
    font-family: 'glacial';
    src: url(../fonts/GlacialIndifference-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacial-bold';
    src: url(../fonts/GlacialIndifference-Bold.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}